



<body>
    <div class="ui_vending_nextup">
    <div id="DIV_CUELINE_PICKING">THIS IS DIV_CUELINE_PICKING</div>
    
    <!-- comming from HW_BROADCAST_PICKING => DIV updated via SIO.ejs -->
    </div>
    
</body>


