<!DOCTYPE html lang="en" dir="ltr">

<div class=blockContent><%- include('__HW_SIO.ejs') %></div>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LINKPAGE</title>
    <link rel="stylesheet" href="css/stylesHW.css">
</head>
<div class="hwlogo_operator"><img src="/hw_img/HWLOGO.png" style="width:100%;"></div>

<body class="inventory_background">
    <div class="operator_menu">
        <div class="operator_header">OPERATION: HOTWHEELS BASIC VERSION</div>

        <div class="blockContent">
            <button onclick="window.open('/HW_VENDING_DEV?t=1', '_blank')" class="btnWide">VENDING DEV</button>
            <button onclick="window.open('/HW_VENDING?t=1', '_blank')" class="btnWide">VENDING 1</button>
            <button onclick="window.open('/HW_VENDING?t=2', '_blank')" class="btnWide">VENDING 2</button>
            <button onclick="window.open('/HW_ORDERCUE', '_blank')" class="btnWide">CUE LINE</button>
            <button onclick="window.open('/HW_INVENTORY', '_blank')" class="btnWide">INVENTORY</button>
            <button onclick="window.open('/HW_ORDERS', '_blank')" class="btnWide">ORDERS</button>
           
            <button onclick="window.open('/HW_QR', '_blank')" class="btnWide">QR MANAGER</button>

        </div>

        <div class="blockContent">
            <div class="operator_header">OPERATION: HOTWHEELS EXTENDED VERSION</div>
            <button onclick="window.open('/HW_LEADERBOARD', '_blank')" class="btnWide">LEADERBOARD</button>
            <button onclick="window.open('/HW_VIDEOPLAYER', '_blank')" class="btnWide">VIDEOPLAYER</button>
            <button onclick="window.open('/HW_AVFX', '_blank')" class="btnWide">AVFX</button>
            <button onclick="window.open('/HW_DUAL_PI_RECORDING', '_blank')" class="btnWide">DUAL PI RECORDING</button>

        </div>

        <div class="blockContent">
            <div class="operator_header">DEVELOPER: TRAINED PERSONEL ONLY!</div>
             
            <button onclick="window.open('/HW_DEVELOPER', '_blank')" class="btnWide">DEVELOPER</button>
            
            

        </div>
</body>
<!-- 
 <button onclick="window.location.href = '/HW'" class="btnWide">REFRESH</button>
<button onclick="window.open('/HW_SOCKETIOTEST', '_blank')" class="btnWide">TEST SOCKETIO S2</button>
<button onclick="window.open('/HW_DASHBOARD', '_blank')" class="btnWide">SYSTEM DASHBOARD</button>
<button onclick="window.open('/HW_DATABASE', '_blank')" class="btnWide">ENTER NEW CARS</button>
    <button onclick="window.open('/HW_OPERATION', '_blank')" class="btnWide" >HW_OPERATION</button>
 <button onclick="window.open('/HW_DATABASE', '_blank')" class="btnWide" >ENTRY NEW CARS&CATEGORIES</button>
 -->

</html>