

<div class=blockContent><%- include('__HW_SIO.ejs') %></div>
    <div class="hwlogo_ordercue"><img src="/hw_img/HWLOGO.png" style="width:100%;"></div>
    <div class="ordercue_cueline">

        <div id="DIV_CUELINE_PICKING">PICKING</div>
        <div id="DIV_CUELINE">CUELINE</div> 
            

        <!--class="cueline_background"<div id="DIV_LIST_LEADERBOARD" class="leaderboard_container">LEADERBOARD</div>-->
    </div>
    </div>

