<head>
    <title>LEADERBOARD</title>
</head>

<body>
    <div class=blockContent><%- include('__HW_SIO.ejs') %></div>

    <div class="hwlogo_leaderboard"><img src="/hw_img/HWLOGO.png" style="width:100%;"></div>
    <div id="DIV_LIST_LEADERBOARD" class="leaderboard_container">LEADERBOARD</div>
</body>