<<<<<<< Updated upstream
<style>
    .ui_360_container {

        position: fixed;
        left: 15%;
        right: 15%;
        top: 40%;
        z-index: 999;
    }

    .ui_360_image {
        width: 100%;
        position: absolute;
        opacity: 0;
        z-index: 9;

    }

    .ui_360_carName {
        color: rgb(255, 140, 0);
        font-size: 50px;
        left: 35%;
        width: 30%;
        height: 25px;
        background-color: rgba(0, 0, 0, 0);
        z-index: 999;
        text-align: center;
        display: none;
        position: absolute;
        top: -200px;
    }

    .ui_btn_360_addCar {
        position: fixed;
        top: 65%;
        font-size: 80px;
        padding: 10px;

        background-color: rgba(9, 9, 9, 0);
        border: solid white;
        color: white;
        font-size: 50px;
        text-align: center;
        border-radius: 10px;

        left: 35%;
        width: 30%;

        display: none;
        z-index: 10;
        filter: drop-shadow(30px 10px 100px #000000);
    }
</style>

<div id="DIV_360" class="ui_block_360">
    <div id=imageContainer class=ui_360_container></div>
    <div id=DIV_UI_360_CARNAME class=ui_360_carName>carName</div>
    <button id=DIV_UI_360_ADD_CAR class=ui_btn_360_addCar onclick=addCar360ToSelection()>add</button>
    <!-- <div id="CARS_PRESELECTED">the cars added from 360</div> -->
</div>

<script>
    function carShow360(carAssetsIn) {
        showDIV("DIV_360");
        showDIV('DIV_UI_360_ADD_CAR');
        // showDIV('DIV_UI_360_CARNAME');

        document.getElementById('DIV_UI_360_CARNAME').innerHTML = carAssetsIn;
        document.getElementById('DIV_UI_360_ADD_CAR').innerHTML = UI_LANG.UI_ADD_CAR;
        car360Assets = carAssetsIn;
        //document.getElementById('imageContainer_carName').innerHTML = "";//car360Assets;

        // load into 360            
        const imageFiles = [];
        let imageFile = '/hw_cars/' + car360Assets + '/images/Photo001.png';
        document.getElementById('imageContainer').innerHTML = "";
        for (let i = 1; i < 65; i++) {
            if (i < 10) {
                imageFile = '/hw_cars/' + car360Assets + '/images/Photo00' + i + '.png';
            }
            if (i > 9) {
                imageFile = '/hw_cars/' + car360Assets + '/images/Photo0' + i + '.png';
            }
            imageFiles.push(imageFile);
            document.getElementById('imageContainer').innerHTML += '<img class="ui_360_image" src="' + imageFile + '">';
        }

        let speed = 20; // speed lager = sneller
        let dir = 1;
        let currentIndex = 0;
        let startTouchX = 0;
        const imageContainer = document.querySelector('.ui_360_container');
        const images = document.querySelectorAll('.ui_360_image');

        function showImage(index) {
            speed = speed * 1.1;
            if (speed > 200) { clearInterval(slideInterval); }
            images.forEach((image, i) => {
                // let op, index-1, omdat anders image64 niet getoond wordt
                if (i === (index - 1)) {
                    image.style.opacity = 1;
                } else {
                    image.style.opacity = 0;
                }
            });
        }
        function prevImage() {
            currentIndex--;
            if (currentIndex < 1) { currentIndex = 64; }
            document.getElementById("IMAGECOUNTER360").innerHTML = "prevImage ci:" + currentIndex;
            showImage(currentIndex);
        }
        function nextImage() {
            currentIndex++;
            if (currentIndex > 64) { currentIndex = 1; }
            document.getElementById("IMAGECOUNTER360").innerHTML = "nextImage ci:" + currentIndex;
            showImage(currentIndex);
        }

        let startMouseX = 0;
        imageContainer.addEventListener('mousedown', handleMouseDown);
        imageContainer.addEventListener('mousemove', handleMouseMove);
        imageContainer.addEventListener('mouseup', handleMouseUp);

        function handleMouseDown(event) {
            startMouseX = event.clientX;
            clearInterval(slideInterval);
        }

        function handleMouseMove(event) {
            const mousePosX = event.clientX;
            const diffX = mousePosX - startMouseX;
            if (diffX > 1) {
                prevImage();
                dir = -1;
            } else if (diffX < -1) {
                nextImage();
                dir = 1;
            } else {
                showImage(currentIndex);
                dir = 0;
            }
            startMouseX = mousePosX;
        }

        function handleMouseUp(event) {
            runOut();
        }

        function showNextImage() {
            currentIndex++;
            if (currentIndex > 64) { currentIndex = 1; }
            showImage(currentIndex);
        }
        let slideInterval = setInterval(showNextImage, speed);


        showFirstImage();
        function showFirstImage() {
            showImage(currentIndex);
        }

        function runOut() {
            speed = 20;
            if (dir == 1) {
                slideInterval = setInterval(nextImage, speed);
            }
            if (dir == -1) {
                slideInterval = setInterval(prevImage, speed);
            }
        }
    };

=======


<div id="DIV_360" class="ui_block_360">
    <div id=imageContainer class=ui_360_container></div>
    <div id=DIV_UI_360_CARNAME class=ui_360_carName>carName</div>
    <button id=DIV_UI_360_ADD_CAR class=ui_btn_360_addCar onclick=addCar360ToSelection()>add</button>
    <!-- <div id="CARS_PRESELECTED">the cars added from 360</div> -->
</div>

<script>
    function carShow360(carAssetsIn) {
        showDIV("DIV_360");
        showDIV('DIV_UI_360_ADD_CAR');
        // showDIV('DIV_UI_360_CARNAME');

        document.getElementById('DIV_UI_360_CARNAME').innerHTML = carAssetsIn;
        document.getElementById('DIV_UI_360_ADD_CAR').innerHTML = UI_LANG.UI_ADD_CAR;
        car360Assets = carAssetsIn;
        //document.getElementById('imageContainer_carName').innerHTML = "";//car360Assets;

        // load into 360            
        const imageFiles = [];
        let imageFile = '/hw_cars/' + car360Assets + '/images/Photo001.png';
        document.getElementById('imageContainer').innerHTML = "";
        for (let i = 1; i < 65; i++) {
            if (i < 10) {
                imageFile = '/hw_cars/' + car360Assets + '/images/Photo00' + i + '.png';
            }
            if (i > 9) {
                imageFile = '/hw_cars/' + car360Assets + '/images/Photo0' + i + '.png';
            }
            imageFiles.push(imageFile);
            document.getElementById('imageContainer').innerHTML += '<img class="ui_360_image" src="' + imageFile + '">';
        }

        let speed = 20; // speed lager = sneller
        let dir = 1;
        let currentIndex = 0;
        let startTouchX = 0;
        const imageContainer = document.querySelector('.ui_360_container');
        const images = document.querySelectorAll('.ui_360_image');

        function showImage(index) {
            speed = speed * 1.1;
            if (speed > 200) { clearInterval(slideInterval); }
            images.forEach((image, i) => {
                // let op, index-1, omdat anders image64 niet getoond wordt
                if (i === (index - 1)) {
                    image.style.opacity = 1;
                } else {
                    image.style.opacity = 0;
                }
            });
        }
        function prevImage() {
            currentIndex--;
            if (currentIndex < 1) { currentIndex = 64; }
            document.getElementById("IMAGECOUNTER360").innerHTML = "prevImage ci:" + currentIndex;
            showImage(currentIndex);
        }
        function nextImage() {
            currentIndex++;
            if (currentIndex > 64) { currentIndex = 1; }
            document.getElementById("IMAGECOUNTER360").innerHTML = "nextImage ci:" + currentIndex;
            showImage(currentIndex);
        }

        let startMouseX = 0;
        imageContainer.addEventListener('mousedown', handleMouseDown);
        imageContainer.addEventListener('mousemove', handleMouseMove);
        imageContainer.addEventListener('mouseup', handleMouseUp);

        function handleMouseDown(event) {
            startMouseX = event.clientX;
            clearInterval(slideInterval);
        }

        function handleMouseMove(event) {
            const mousePosX = event.clientX;
            const diffX = mousePosX - startMouseX;
            if (diffX > 1) {
                prevImage();
                dir = -1;
            } else if (diffX < -1) {
                nextImage();
                dir = 1;
            } else {
                showImage(currentIndex);
                dir = 0;
            }
            startMouseX = mousePosX;
        }

        function handleMouseUp(event) {
            runOut();
        }

        function showNextImage() {
            currentIndex++;
            if (currentIndex > 64) { currentIndex = 1; }
            showImage(currentIndex);
        }
        let slideInterval = setInterval(showNextImage, speed);


        showFirstImage();
        function showFirstImage() {
            showImage(currentIndex);
        }

        function runOut() {
            speed = 20;
            if (dir == 1) {
                slideInterval = setInterval(nextImage, speed);
            }
            if (dir == -1) {
                slideInterval = setInterval(prevImage, speed);
            }
        }
    };

>>>>>>> Stashed changes
</script>